#ignore files
.idea
*.iml
src/deploy
src/deploy-test
src/pay-qa
src/base
src/gaea-admin
src/pay
src/portal.qiniu.io
src/qiniu.io
src/github.com/*
src/calc
src/go_qconf_web
src/gomessage
src/gochat
src/gochat_refactor
src/sand
src/wolf
src/rbac
src/sendSMS
src/goadstat
src/golang.org/*
src/golang
src/gopkg.in
src/gomessage*
src/nsq
bin/*
pkg/*
